$bbox-orange: rgb(255, 103, 47);

/* Border Box */
%border-box {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Image replace method from HTML5 Boilerplate: goo.gl/kk0EN */
%image-replace {
  background-color: transparent;
  border: 0;
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    height: 150%;
    width: 0;
  }
}

/* Transition all over a quarter second */
%simple-transition {
  -webkit-transition: all 0.25s ease-in-out;
     -moz-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
}

header {
  background: $bbox-orange;
  color: #FFF;
  margin-bottom: 15px;

  h1 { position: relative; }
}

#logo {
  @extend %image-replace;
  $height: 24px;

  background: url(../img/logo.png) no-repeat;
  display: block;
  position: absolute;
  right: 0;

  margin-top: $height / -2;
  top: 50%;

  height: $height;
  width: 144px;
}

#rankings {
  tbody {
    td:nth-child(3) a {
      @extend %simple-transition;
      opacity: 0;
    }
    tr:hover td:nth-child(3) a {
      opacity: 1;
    }
  }
  tr.info .icon-star-empty {
    opacity: 0.2;
  }
}

form legend { margin-bottom: 0; }

td, th {
  &.extra-thin-cell {
    width: 4%;
  }
}
td.thin-cell { max-width: 20%; }
td.bold { font-weight: bold; }
td.win, td.loss {
  $border: 3px solid #FFF;
  border-left: $border;
  border-right: $border;
  color: #FFF;
  font-weight: bold;
  text-align: center;
}
td.win {
  background-color: rgba(0, 128, 0, 0.65);
  tr:hover > & { background-color: rgba(0, 128, 0, 0.7) !important; }
}
td.loss {
  background-color: rgba(255, 0, 0, 0.65);
  tr:hover > & { background-color: rgba(255, 0, 0, 0.7) !important; }
}
td form { margin: 0 auto; }
