{% extends "base.html" %}

{% block change_password_active %} class="active"{% endblock %}

{% block content %}
<div class="row-fluid">
  <div class="span12">
    <legend>Change Password</legend>

    <form action="{{ request.path }}" method="post">
      {% for error in form.non_field_errors %}
        <div class="alert alert-error">{{ error }}</div>
      {% endfor %}

      {% for field in form %}
        <div class="control-group{% if field.errors %} error{% endif %}">
          <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
          <div class="controls">
            {{ field }}

            {% for error in field.errors %}
              <span class="help-inline">{{ error }}</span>
            {% endfor %}
          </div>
        </div>
      {% endfor %}

      {% csrf_token %}

      <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
  </div>
</div>
{% endblock %}
