{% extends "base.html" %}
{% load compress gametags %}

{% block content %}
<div class="row-fluid">
  <div class="span12">
    {% if games %}
      <table class="table table-hover middle-align">
        <thead>
          <tr>
            <th>Date Submitted</th>
            <th>Opponent</th>
            <th>Outcome</th>
            <th>Confirm or Reject</th>
          </tr>
        </thead>
        <tbody>
          {% for game in games %}
            <tr>
              <td class="thin-cell">{{ game.date_created }}</td>
              {% get_opponent game as opponent %}
              <td class="bold">{{ opponent.get_full_name }}</td>
              {% if opponent == game.loser %}
                <td class="win">You Won</td>
              {% else %}
                <td class="loss">You Lost</td>
              {% endif %}
              <td>
                <form class="confirmation-form" action="{% url 'games:submit_confirmation' %}" class="form-inline" method="post">
                  {% for field in game.form %}
                    <input type="hidden" name="{{ field.html_name }}" value="{{ field.value }}" />
                  {% endfor %}
                  {% csrf_token %}
                  <button data-confirm="yes" class="btn btn-success" type="button">Confirm</button>
                  <button data-confirm="no" class="btn btn-danger" type="button">Reject</button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <h2>There are no games pending confirmation.</h2>
    {% endif %}
  </div>
</div>
{% endblock content %}

{% block js %}
  {% compress js %}
    <script src="{{ STATIC_URL }}js/confirm.js"></script>
  {% endcompress %}
{% endblock %}
