{% extends "base.html" %}
{% load gametags %}

{% block content %}
<div class="row-fluid">
  <div class="span3">
    {% if request.user.is_authenticated %}
      <div class="well">
        {% include "games/match.form.html" %}
      </div>

      <div class="well">
        {% include "games/single-game.form.html" %}
      </div>
    {% else %}
      {% include "games/login.form.html" %}
    {% endif %}
  </div>

  <div class="span9">
    <table class="table table-striped" id="rankings">
      <thead>
        <tr>
          <th class="extra-thin-cell">#</th>
          <th>Name</th>
          <th>Wins</th>
          <th>Losses</th>
        </tr>
      </thead>
      <tbody>
        {% for user in rankings %}
          <tr{% if user == request.user %} class="info"{% endif %}>
            <td class="muted">{{ forloop.counter }}</td>
            <td><strong>{{ user.get_full_name }}</strong></td>
            <td>{{ user.wins|confirmed_count }}</td>
            <td>{{ user.losses|confirmed_count }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
