{% extends "base.html" %}
{% load gametags compress %}

{% block content %}
<div class="row-fluid">
  <div class="span3">
    {% if request.user.is_authenticated %}
      <div class="well">
        {% include "games/match.form.html" %}
      </div>

      <div class="well">
        {% include "games/single-game.form.html" %}
      </div>
    {% else %}
      {% include "games/login.form.html" %}
    {% endif %}
  </div>

  <div class="span9">
    <table class="table table-striped" id="rankings">
      <thead>
        <tr>
          <th class="extra-thin-cell">#</th>
          <th>Name</th>
          <th>Wins</th>
          <th>Losses</th>
          {% if request.user.is_authenticated %}
            <th>You vs Them</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for user in rankings %}
          <tr{% if user == request.user %} class="info"{% endif %}>
            <td class="muted">{{ forloop.counter }}</td>
            <td>
              <strong>{{ user.get_full_name }}
                {% if user == request.user %}<i class="icon-star-empty"></i>{% endif %}
              </strong>
            </td>
            {% with wins=user.wins|confirmed_count losses=user.losses|confirmed_count %}
              <td>{{ wins }}</td>
              <td>{{ losses }}</td>
            {% endwith %}
            {% if request.user.is_authenticated %}
              <td>
                <div class="sparkline" data-record="{{ request.user|record:user }}"></div>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}

{% block js %}
  {% if request.user.is_authenticated %}
    {% compress js %}
      <script src="{{ STATIC_URL }}js/lib/jquery.sparkline.js"></script>
      <script src="{{ STATIC_URL }}js/index.js"></script>
    {% endcompress %}
  {% endif %}
{% endblock %}
