{% extends "base.html" %}
{% load compress %}

{% block content %}
<div class="row-fluid">
  <div class="span3">
    {% if is_authenticated %}
      <div class="well">
        {% include "games/match.form.html" %}
      </div>

      <div class="well">
        {% include "games/single-game.form.html" %}
      </div>
    {% else %}
      {% include "games/login.form.html" %}
    {% endif %}
  </div>

  <div class="span9">
    <table class="table table-striped" id="rankings">
      <thead>
        <tr>
          <th class="extra-thin-cell">#</th>
          <th>Name</th>
          <th>Wins</th>
          <th>Losses</th>
          {% if is_authenticated %}
            <th>You vs Them</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for ranked_user in rankings %}
          <tr{% if ranked_user == request.user %} class="info"{% endif %} title="Exposure: {{ ranked_user.rating.exposure|floatformat:3 }}">
            <td class="muted">{{ forloop.counter }}</td>
            <td>
              <strong>{{ ranked_user.get_full_name }}
                {% if ranked_user == request.user %}<i class="icon-star-empty"></i>{% endif %}
              </strong>
            </td>
            <td>{{ ranked_user.total_wins }}</td>
            <td>{{ ranked_user.total_losses }}</td>
            {% if is_authenticated %}
              <td class="sparkline" data-record="{{ ranked_user.record }}"></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}

{% block js %}
  {% if is_authenticated %}
    {% compress js %}
      <script src="{{ STATIC_URL }}js/lib/jquery.sparkline.js"></script>
      <script src="{{ STATIC_URL }}js/index.js"></script>
    {% endcompress %}
  {% endif %}
{% endblock %}
