<form action="{% url 'games:single_submit' %}" method="post">
  <legend>Single Game</legend>

  {% for error in single_game_form.non_field_errors %}
    <div class="alert alert-error">{{ error }}</div>
  {% endfor %}

  {% for field in single_game_form %}
    <div class="control-group{% if field.errors %} error{% endif %}">
      <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
      <div class="controls">
        {{ field }}

        {% for error in field.errors %}
          <span class="help-inline">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
  {% endfor %}

  {% csrf_token %}
  <button type="submit" class="btn btn-primary">
    <i class="icon-plus-sign icon-white"></i> Record Game
  </button>
</form>
